# Executable files
*.exe

# Files
.env

# Folders
__pycache__
_bin
Lib
.idea
# stored elsewhere due to sensitive information
_build_config
GitHub-Issues
_saves_testing
saves_backup

# Specific files
BEFORE_COMPILE_CHECKLIST.txt
src/UI/.env
